Flask==3.0.3
gunicorn==26.0.0
numpy==1.26.4
opencv-python-headless==4.8.0.76
pillow==10.4.0
PyYAML==6.0.3
requests==2.33.1
psutil==7.2.2
torch
torchvision
ultralytics==8.3.0
Werkzeug==3.0.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.3
MarkupSafe==3.0.3
tqdm==4.67.3
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
pymongo
dnspython

